In [30]:
# Importação de bibliotecas

import pandas as pd

# Importação de todas as classes da pasta

from task_class import Task
from task_list_class import Task_List
from category_class import Category
from manage_csv_class import Manage_Csv
from menu_class import Menu

# Sugestão: criar um único arquiva que carrega todas as dependências(?)

In [31]:
# Coletando todos os registros de tarefas

df = Task_List.get_task_list()
df

                 title  category_code     status        date
0                Teste              1   Pendente  22-10-1999
1        Teste de task              0   Pendente  10-02-1645
2        Teste de task              0   Pendente  11-02-1645
3  Outro teste de task              0   Pendente  10-02-1645
4     Outro teste de 2              0   Pendente  10-02-1645
5        Assar batatas              1  Concluído        hoje
6       Cortar cebolas              0   Pendente  09/01/2021
7        Cortar cebola              2  Concluído        hoje
8       Cortar cebolas              2  Concluído        hoje

In [32]:
# Teste de inserção de Task que já existe

task1 = Task('Outro teste de 2','10-02-1645','Teste')
Task.insert_task(task1)

Outro teste de 2 10-02-1645
Erro ao inserir a task: Outro teste de 2 10-02-1645
Exception: Já existe uma tarefa com o mesmo nome e mesma data.

In [33]:
# Comando para testar o menu (ele funciona idealmente no console, no jupyter notebook não funciona muito bem)

Menu.navigate()

   ________________________________
 / \                               \
|   |      _.·´¯`·.¸.·´¯`·.¸_      |
 \_ |      TO-DO LIST PROJECT      |
    |      ¯`·.¸¸.·´`·.¸¸.·´¯      |
    |                              |
    |    O que deseja fazer?       |
    |                              |
    | 1 - Adicionar tarefa         |
    | 2 - Alterar status da tarefa |
    | 3 - Remover tarefa           |
    | 4 - Visualizar tarefa        |
    | 5 - Fechar                   |
    |   ___________________________|___
    |  /                              /
    \_/______________________________/
Obrigado por usar este programa!
(de verdade)

In [34]:
categories = {0:'Importante', 1: 'Urgente', 2:'Casual', 3:'Urgente'}

category_name = 'Urgente'
print(list(categories.keys())[list(categories.values()).index(category_name)])

1

In [35]:
df = Manage_Csv.read('task_list.csv')
df

                 title  category_code     status        date
0                Teste              1   Pendente  22-10-1999
1        Teste de task              0   Pendente  10-02-1645
2        Teste de task              0   Pendente  11-02-1645
3  Outro teste de task              0   Pendente  10-02-1645
4     Outro teste de 2              0   Pendente  10-02-1645
5        Assar batatas              1  Concluído        hoje
6       Cortar cebolas              0   Pendente  09/01/2021
7        Cortar cebola              2  Concluído        hoje
8       Cortar cebolas              2  Concluído        hoje

In [36]:
Manage_Csv.append_df_to_csv(df, 'tasks.csv')

In [37]:
df2 = Manage_Csv.read('tasks.csv')
df2

          Teste de task  0   Pendente  10-02-1645
0         Teste de task  0   Pendente  10-02-1645
1         Teste de task  0   Pendente  10-02-1645
2         Teste de task  0   Pendente  10-02-1645
3   Outro teste de task  0   Pendente  10-02-1645
4      Outro teste de 2  0   Pendente  10-02-1645
5                 Teste  1   Pendente  22-10-1999
6         Teste de task  0   Pendente  10-02-1645
7         Teste de task  0   Pendente  10-02-1645
8         Teste de task  0   Pendente  10-02-1645
9         Teste de task  0   Pendente  10-02-1645
10        Teste de task  0   Pendente  10-02-1645
11  Outro teste de task  0   Pendente  10-02-1645
12     Outro teste de 2  0   Pendente  10-02-1645
13        Assar batatas  1  Concluído        hoje
14       Cortar cebolas  0   Pendente  09/01/2021
15        Cortar cebola  2  Concluído        hoje
16       Cortar cebolas  2  Concluído        hoje
17                Teste  1   Pendente  22-10-1999
18        Teste de task  0   Pendente  10-02-1645
19        Teste de task  0   Pendente  11-02-1645
20  Outro teste de task  0   Pendente  10-02-1645
21     Outro teste de 2  0   Pendente  10-02-1645
22        Assar batatas  1  Concluído        hoje
23       Cortar cebolas  0   Pendente  09/01/2021
24        Cortar cebola  2  Concluído        hoje
25       Cortar cebolas  2  Concluído        hoje

In [38]:
Manage_Csv.append_df_to_csv(df2, 'tasks.csv')

In [39]:
Manage_Csv.rewrite_df_to_csv(df2, 'tasks.csv')

In [40]:
status = '0'

In [41]:
status = 'Pendente' if status == '0' else 'Concluído'

In [42]:
Menu.navigate()

   ________________________________
 / \                               \
|   |      _.·´¯`·.¸.·´¯`·.¸_      |
 \_ |      TO-DO LIST PROJECT      |
    |      ¯`·.¸¸.·´`·.¸¸.·´¯      |
    |                              |
    |    O que deseja fazer?       |
    |                              |
    | 1 - Adicionar tarefa         |
    | 2 - Alterar status da tarefa |
    | 3 - Remover tarefa           |
    | 4 - Visualizar tarefa        |
    | 5 - Fechar                   |
    |   ___________________________|___
    |  /                              /
    \_/______________________________/
Obrigado por usar este programa!
(de verdade)

In [43]:
from menu_class import Menu

In [44]:
Menu.navigate()

   ________________________________
 / \                               \
|   |      _.·´¯`·.¸.·´¯`·.¸_      |
 \_ |      TO-DO LIST PROJECT      |
    |      ¯`·.¸¸.·´`·.¸¸.·´¯      |
    |                              |
    |    O que deseja fazer?       |
    |                              |
    | 1 - Adicionar tarefa         |
    | 2 - Alterar status da tarefa |
    | 3 - Remover tarefa           |
    | 4 - Visualizar tarefa        |
    | 5 - Fechar                   |
    |   ___________________________|___
    |  /                              /
    \_/______________________________/
Obrigado por usar este programa!
(de verdade)

In [45]:
df['category_code'].replace(Category.get_categories(), inplace = True)

In [46]:
from category_class import Category

In [47]:
Category.get_categories()

{0: 'Importante', 1: 'Urgente', 2: 'Casual', 3: 'Urgente'}

In [48]:
df

                 title category_code     status        date
0                Teste       Urgente   Pendente  22-10-1999
1        Teste de task    Importante   Pendente  10-02-1645
2        Teste de task    Importante   Pendente  11-02-1645
3  Outro teste de task    Importante   Pendente  10-02-1645
4     Outro teste de 2    Importante   Pendente  10-02-1645
5        Assar batatas       Urgente  Concluído        hoje
6       Cortar cebolas    Importante   Pendente  09/01/2021
7        Cortar cebola        Casual  Concluído        hoje
8       Cortar cebolas        Casual  Concluído        hoje

In [49]:
df.loc[df['title'] == 'Teste de task']

           title category_code    status        date
1  Teste de task    Importante  Pendente  10-02-1645
2  Teste de task    Importante  Pendente  11-02-1645

In [58]:
titulo = 'Teste'
data = Task_List.get_task_list()
filter = data.loc[data['title'] == titulo]
len(filter)

1

In [62]:
data.loc[data['title'] == titulo]['status'].replace({'Pendente':'Concluído', 'Concluído':'Pendente'}, inplace=True)

C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [70]:
index = data.loc[data['title'] == titulo].first_valid_index()

In [83]:
data.loc[index,'status'] = 'Concluído' if data.loc[index,'status'] == 'Pendente' else 'Pendente'

In [84]:
data

                 title  category_code     status        date
0                Teste              1  Concluído  22-10-1999
1        Teste de task              0   Pendente  10-02-1645
2        Teste de task              0   Pendente  11-02-1645
3  Outro teste de task              0   Pendente  10-02-1645
4     Outro teste de 2              0   Pendente  10-02-1645
5        Assar batatas              1  Concluído        hoje
6       Cortar cebolas              0   Pendente  09/01/2021
7        Cortar cebola              2  Concluído        hoje
8       Cortar cebolas              2  Concluído        hoje